

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 16px;
  max-width: 37.5rem;
  margin: 2rem auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  margin-bottom: 1.5rem;
}

#gatoSayImg {
  width: 100%;
  min-height: 25rem;
  max-height: 25rem;
  border-radius: 10px;
  background-color: white; 
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1)
}

.inputGatoSay {
  display: flex;
  gap: 10px;
  width: 100%;
  border: 2px black;
  justify-content: center;
}

#inputFrase {
  padding: 1rem 1.5rem;
  border: 2px solid black;
  color: black;
  border-radius: 8px;
  flex-grow: 1;
  min-width: 200px;
  outline: none;
  font-weight: bolder;
  transition: 0.3s;
}

#inputFrase:hover{
    scale: 1.025;
}

#inputFrase:focus {
  background-color: var(--vermelho);
  color: white;
  border: 2px white;
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.138);
}
.baixar{
  padding: 0.25rem 15rem;
  border: 50px;
}
.baixar:hover{
  transform: scale(1.05);
}